.col-5 {
	border: solid;
	background: white;
	padding-right: 0;
	padding-left: 0;
	background-color: rgba(333, 333, 333, 0.5);
	margin-right: 1em;
}

body {
	background-color: transparent;
}

:root {
	background-image: url('../../images/background.jpg');
}
